<p style="color: green"><%= notice %></p>

<%= render @food %>

<div>
  <%= link_to "Edit this food", edit_food_path(@food), class: "button" %> |
  <%= link_to "Back to foods", foods_path, class: "button" %>

  <%= button_to "Destroy this food", @food, method: :delete, class: "button" %>
</div>
